<div class="home-container">
  <div class="logo-area">
    <div class="logo">
      <img src="../../../../assets/home/logo.png" alt="logo" />
    </div>
    <div class="slogan">
      <p>Your Document Detective: Uncover Hidden Mistakes</p>
    </div>
  </div>
  <div class="about-info">
    <div class="info">
      <div class="detail-area">
        <div class="icon-area">
          <img
            src="../../../../assets/home/magnifying-glass.png"
            alt="search-icon"
          />
        </div>
        <div class="details">
          <p id="first-tag">
            &#x2714; Spot Errors Instantly: Let our OCR detect future dates and
            human-made corrections, ensuring your documents are flawless.
          </p>
          <p id="second-tag">
            &#x2714; Empower Your Workflow: Automatically uncover hidden
            mistakes in PDFs and images with cutting-edge OCR technology.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="input-area">
    <form #myForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="select-area">
        <div class="select-part">
          <label for="datetype">Select date type :</label><br />
          <select
            name="datetype"
            id="datetype"
            [(ngModel)]="dateType"
            #dateTypeCtrl="ngModel"
            required
          >
            <option value="" selected disabled>Select date type :</option>
            <option value="us">US type</option>
            <option value="india">India Type</option>
          </select>
          <div
            *ngIf="dateTypeCtrl.invalid && dateTypeCtrl.touched"
            class="error"
          >
            Date type is required
          </div>
        </div>
      </div>
      <pre></pre>

      <div class="drop-area">
        <div
          class="dropzone"
          (dragover)="onDragOver($event)"
          (dragleave)="onDragLeave($event)"
          (drop)="onDrop($event)"
        >
          <p *ngIf="!selectedFile">
            Drag & drop a file here or click to select
          </p>
          <p *ngIf="selectedFile">
            Drag & drop another file here or click to select
          </p>
          <input
            type="file"
            name="selectedFile"
            (change)="onFileSelected($event)"
            required
            #fileInputCtrl="ngModel"
            [(ngModel)]="selectedFile"
          />
        </div>
      </div>
      <div *ngIf="!selectedFile && myForm.submitted" class="error-file">
        File is required
      </div>

      <div class="button-area">
        <button [disabled]="!myForm.valid" mat-raised-button>Submit</button>
      </div>
    </form>

    <div class="spinner-area">
      <p *ngIf="!showProgressSpinner">{{ date_message }}</p>
      <mat-spinner *ngIf="showProgressSpinner"></mat-spinner>
    </div>

    <div *ngIf="selectedFile" class="preview">
      <div class="image-area">
        <img *ngIf="isImage" [src]="filePreview" alt="Image Preview" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img *ngIf="image_result" [src]="image_result" alt="results-image" />
      </div>

      <!-- PDF Preview -->

      <object
        *ngIf="isPdf"
        [data]="filePreview"
        type="application/pdf"
        width="100%"
        height="500px"
      >
        <p>
          Your browser does not support PDFs. Please download the PDF to view
          it.
        </p>
      </object>

      <!-- Word DOC/DOCX Preview -->
      <object
        *ngIf="isWord"
        [data]="filePreview"
        type="application/vnd.openxmlformats-officedocument.wordprocessingml.document"
        width="100%"
        height="500px"
      >
        <p>
          Your browser does not support Word documents. Please download the Word
          file to view it.
          <a [href]="filePreview" download>Download Word File</a>
        </p>
      </object>
    </div>
  </div>
</div>
